@page "/ForgetPassword"
@inherits HappyInsurance.BlazorCoreModules.CoreComponents.ForgetPassComponent


<CascadingValue Value="@Message">
    <Alert/>
</CascadingValue>



<div class="container my-4">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="col-lg-3 offset-md-5">
            </div>
            <RadzenTemplateForm TItem="ForgetPassModel" Data="_forgetPassModel" Submit="@HandlePhoneSenderAsync">
                <RadzenFieldset Text="Phone Authorization">
                    <p>
               
                        <RadzenTextBox Name="PhoneNumber" Placeholder="PhoneNumber ..." @bind-Value="@_forgetPassModel.PhoneNumber" Style="display:block;text-align: center"> </RadzenTextBox>
                        <RadzenRequiredValidator Component="PhoneNumber" Text="PhoneNumber is required!" Style="position:absolute" Popup="true"/>
                    </p>
                    <div class="col-lg-3 offset-md-5">
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Send" ButtonStyle="ButtonStyle.Primary"/>
                    </div>
                </RadzenFieldset>
            </RadzenTemplateForm>
        </div>
    </div>
</div>


@code {
    private ForgetPassModel _forgetPassModel { get; set; } = new ();

    private async Task HandlePhoneSenderAsync()
    {
       await CheckUserPhoneAsync(_forgetPassModel);
    }
}