@inherits LayoutComponentBase
@inject IHttpContextAccessor _contextAccessor;
@inject NavigationManager _navigationManager;
<PageTitle>HappyInsurance</PageTitle>

<div class="page">
    <AuthorizeView>
        
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
   
    </AuthorizeView>
    
    <main>
        
                <RadzenCard class="top-row px-4">
                    <div class="top-row px-4" style="background-color: antiquewhite">
                        <LoginDisplay/>
                    </div>
                    
                </RadzenCard>
      
        
        @if (_contextAccessor.HttpContext!.User.Identity!.IsAuthenticated)
        {
            <Logger></Logger>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

